# This configuration file is only available for MKS SGEN_L V1.0
# This file contains common pin mappings for the MKS SGEN_L board. To
# use this config, the firmware should be compiled for the LPC1768.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: P2.2
dir_pin: P2.3
enable_pin: !P2.1
microsteps: 16
rotation_distance: 32
endstop_pin: !P1.29  # ^P1.28 for X-max
#endstop_pin: tmc2209_stepper_x:virtual_endstop
#homing_retract_dist: 0
second_homing_speed: 2
position_endstop: 0
position_max: 270
homing_speed: 16

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 32
endstop_pin: !P1.27  # ^P1.26 for Y-max
#endstop_pin: tmc2209_stepper_y:virtual_endstop
#homing_retract_dist: 0
second_homing_speed: 2
position_endstop: 0
position_max: 270
homing_speed: 16

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 4
endstop_pin: ^P1.25  # ^P1.24 for Z-max
position_endstop: 0
position_max: 230

[stepper_z1]
step_pin: P0.1
dir_pin: !P0.0
enable_pin: !P0.10
microsteps: 16
rotation_distance: 4
endstop_pin: ^P1.24  # ^P1.24 for Z-max


[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance: 4.682
microsteps: 16
full_steps_per_rotation: 200
max_extrude_only_distance: 500
max_extrude_only_velocity: 60
max_extrude_only_accel: 600
pressure_advance_smooth_time: 0.04
pressure_advance: 0.09
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: Generic 3950
sensor_pin: P0.23
min_temp: 0
max_temp: 260

#[extruder1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#heater_pin: P2.6
#sensor_pin: P0.25
#...

[heater_bed]
heater_pin: P2.5
sensor_type: Generic 3950
sensor_pin: P0.24
min_temp: 0
max_temp: 100

[fan]
pin: P2.4
cycle_time: 0.05

[heater_fan my_nozzle_fan]
pin: P2.6
cycle_time: 0.05
fan_speed: 1
heater_temp: 50.0
heater: extruder,heater_bed

#[controller_fan my_controller_fan]
#pin: P2.6
#cycle_time: 0.05
#fan_speed: 1
#idle_timeout: 30
#stepper:stepper_x,stepper_y,stepper_z,stepper_z1




[printer]
kinematics: corexy
max_velocity: 200
max_accel: 3000
#max_accel_to_decel: 3000
max_z_velocity: 6
max_z_accel: 80

#[force_move]
#enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: P1.1
run_current: 1.2
interpolate: True
#hold_current: 0.500
#driver_PWM_FREQ: 3
stealthchop_threshold: 0
#diag_pin: ^P1.29      # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 62  # 255 is most sensitive value, 0 is least sensitive 
                   

[tmc2209 stepper_y]
uart_pin: P1.8
run_current: 1.2
interpolate: True
#hold_current: 0.500
#driver_PWM_FREQ: 3
stealthchop_threshold: 0
#diag_pin: ^P1.27      # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 63  # 255 is most sensitive value, 0 is least sensitive
                   
[tmc2209 stepper_z]
uart_pin: P1.10
run_current: 0.6
#hold_current: 0.8
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: P1.17
run_current: 0.6
#hold_current: 0.8
interpolate: True
stealthchop_threshold: 999999


[tmc2209 extruder]
uart_pin: P1.15
run_current: 0.350
interpolate: True
#hold_current: 0
stealthchop_threshold: 999999


#[tmc2209 extruder1]
#uart_pin: P1.17
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999


[mcu]
serial: /dev/ttyACM0


[temperature_sensor phone]
sensor_path: /sys/class/thermal/thermal_zone11/temp
sensor_type: temperature_host
min_temp: 10
max_temp: 80


### SDcard use the motherboard EXP_2 interface
### The bus number is ssp1
### SCK=P0.7，CS=P0.6，MISO=0.8，MOSI=0.9

### ADXL345 use the motherboard EXP_1 interface
### The bus number is ssp0
### SCK=P0.15，CS=P0.16，MISO=0.17，MOSI=0.18

[adxl345]
cs_pin: P0.16
spi_bus: ssp0 
axes_map: x,z,-y

[resonance_tester]
accel_chip: adxl345
probe_points:
    135,135,10  # an example


[include fluidd.cfg]


[include homing_override.cfg]


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.166
#*# pid_ki = 1.190
#*# pid_kd = 1186.691
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.152
#*# pid_ki = 0.993
#*# pid_kd = 112.633
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 70.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 51.2
